/* Mobile Device Layout */
* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	color: #777;
	background: #f7f5f0;
	line-height: 1.4em;
}

/*h2 element*/

h2 {
	text-transform: uppercase;
	font-size: 1em;
}

/* Link Styles */

a {
	text-decoration: none;
	color: #222;
}

/* Unorder list styles */
ul {
	padding: 0;
}

/* List styles */

li {
	list-style-type: none;
}

/*Width styles*/

.main-nav,
header,
.portfolio-item,
.portfolio-HCMC,
footer {
	width: 92%;
}

/*Navigation styles*/

.main-nav {
	min-height: 250px;
	margin: auto;
}

.main-nav h1 {
	font-size: 1.8em;
	padding: 1.1em 0;
	margin: 0;
}

.main-nav h1 a {
	color: #CC0000;
}

.nav {
	margin: 0;
}

.nav a {
	display: block;
	padding: 0.85em 0;
	color: #777;
	text-transform: uppercase;
}

.nav a:hover {
	color: #111;
	transition: 0.5s;
}

.nav li {
	margin: 0.4em 0;
	background: #FCF9FC;
	font-size: 1em;
	line-height: 1em;
	font-weight: bold;
	border-bottom: 2px solid #EEEEEE;
}

.nav li:hover {
	border-bottom-color: lightgreen;
	transition: 0.5s;
}

.nav li~li:hover {
	border-bottom-color: red;
	transition: 0.5s;
}

.nav li:last-child:hover {
	border-bottom-color: silver;
}

/* Header styles */

header {
	margin: 3em auto;
}

header img {
	width: 70%;
	box-shadow: 10px 10px 10px rgba(0,0,0,.5);
}

header p {
	font-size: 1.1em;
	line-height: 1.4em;
}


/* Container styles */

.container {
	background: #FCFBFC;;
	padding: 2em 0 1em 0;
}

.container h2 {
	padding: 0.4em 0;
	color: #222;
}

.portfolio-item {
	margin: 3em auto;
}

.portfolio-item:nth-child(3n+1) {
	background: #FFFF99;
}

.portfolio-item:nth-child(3n+2) {
	background: #CCFFCC;
}

.portfolio-item:nth-child(3n+3) {
	background: #99CCFF;
}

.portfolio-item img {
	width: 100%;
}

.portfolio-item p {
	width: 100%;
	margin: 0;
	padding-bottom: 1em;
}

.portfolio-HCMC {
	margin: auto;
	background: #afeeee;
	padding-bottom: 0.5em;
}

.portfolio-HCMC img {
	max-height: 100%;
	max-width: 100%;
}

/*Footer styles*/

footer {
	height: 380px;
	margin: auto;
}

footer h2 {
	padding: 2em 0;
	color: #222;
}

footer p {
	line-height: 1.5em;
}

.contact-items {
	line-height: 2.5em;
	margin: 1.5em auto 3em auto;
}

.foot-footer {
	border-top: 1px solid #CCCCCC;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
}

.foot-footer p {
	margin: 1.7em 0;
	font-weight: bold;
	font-size: 0.9em;
	color: #222;
}

.foot-footer p a:hover {
	color: red;
	text-transform: uppercase;
	transition: 0.5s;
}

.mobile-nav {
	text-transform: uppercase;
}

.foot-nav {
	display: none;
}

/* Break point */
@media screen and (min-width: 768px) {

	/*Navigation styles*/
	.main-nav {
		min-height: 200px;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-direction: column;
		flex-direction: column;
		-webkit-justify-content: center;
		justify-content: center;
	}

	.main-nav h1 {
		font-size: 1.8em;
		padding-top: 0;
	}

	.nav {
		width: 50%;
		margin: 0 auto;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-direction: row;
		flex-direction: row;
	}


	.nav li {
		width: calc(100% / 3);
		background: #f7f5f0;
		border-bottom: 2px solid #f7f5f0;
	}

	.nav li a {
		padding: 0.5em;
		font-size: 0.95em;
		color: #333;
	}

	/*Header styles*/

	header {
		display: -webkit-flex;
		display: flex;
		-webkit-flex-direction: row;
		flex-direction: row;
		margin: 0 auto;
	}

	header img {
		order: 1;
		width: 40%;
		height: 40%;
	}

	header p {
		margin:0 1em 0 0;
		font-size: 1.3em;
		text-align: left;
		width: 60%;
	}

	/*Container styles*/

	.container {
		margin-top: 4em;
		padding: 0 1em;
		padding-bottom: 2em;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-flow: row wrap;
		flex-flow: row wrap;
	}

	.container h2 {
		width: 100%;
		margin-top: 2.5em;
	}

	.portfolio-item {
		width: 50%;
		padding: 0.5em;
		margin: 1em 0;
	}

	.portfolio-item h3,
	.portfolio-item p {
		width: 70%;
		margin: 1em auto;
		font-size: 1.1em;
	}

	.portfolio-HCMC {
		width: 100%;
		padding-bottom: 1em;
	}

	.portfolio-HCMC p {
		width: 70%;
		margin: auto;
	}

	/*Footer styles*/

	.footer-content {
		width: 70%;
		margin: 1.5em auto 2em auto;
		font-size: 1.2em;
	}

	.foot-footer {
		margin-bottom: 3em;
		font-size: 1.1em;
		-webkit-justify-content: space-between;
		justify-content: space-between;
		-webkit-align-items: center;
		align-items: center;
	}

	.mobile-nav {
		display: none;
	}

	.foot-nav {
		display: -webkit-flex;
		display: flex;
	}

	.foot-nav a {
		text-transform: uppercase;
		font-size: 0.8em;
		font-weight: bold;
	}

	.foot-nav li {
		margin-left: 3em;
		border-bottom: 2px solid #f7f5f0;
	}

	.foot-nav li:hover {
		border-bottom: 2px solid lightgreen;
		transition: 0.5s;
	}

}

/* Break point */
@media screen and (min-width: 1024px) {
	
	.main-nav {
		-webkit-flex-direction: row;
		flex-direction: row;
		-webkit-justify-content: space-between;
		justify-content: space-between;
		-webkit-align-items: center;
		align-items: center;
		min-height: 150px;
	}

	.main-nav h1 {
		margin: 0;
		padding: 0;
	}

	.main-nav .nav {
		width: 34%;
		margin: 0;
		padding: 0;
	}
	.nav li a {
		font-size: 0.8em;
	}
	/*Header styles*/
	header p {
		margin-right: 2em;
	}

	/*Container styles*/
	.portfolio-item {
		width: calc(100% / 3);
	}

	.portfolio-item p {
		font-size: 0.98em;
	}

	.portfolio-HCMC p {
		width: 50%;
	}

	.portfolio-HCMC img {
		padding-top: 1em;
	}

	/*Footer styles*/
	.foot-footer {
		margin: 0;
	}
}